$light-green: #94bb54;
$lighter-green: #AED56E;
$green: #6E962C;
$blue-5: #486C0D;
$white: #fff;
$light-grey: #555;
$dark-grey: #1F1300;
$blue-1: #e0f3ed;
$blue-2: #9be7d8;
$blue-3: #00a7ce;
$blue-4: #7690d9;
$blue-5: #5474cf;
$blue-6: #3a4d76;
$blue-7: #092054;
$blue-10: #5BC0EB;
$blue-11: #183059;
$red: #C3423F;
$grey-1: #efefef;
$grey-2: #d0d2d3;
$grey-3: #7b7b7b;
$purple-1: #483156;
$purple-2: #873299;
$pink: #e56385;
$yellow: #FDE74C;
$orange: #ffb933;
$green-1: #C9E569;
$green-2: #7dcdb5;
$green-3: #488B49;
$green-4: #507255;
$white: #ffffff;
$black: #1F1300;
