@import 'colors';

.navbar-header {
  margin-top: 0;
  height: 100px;
  width: 100%;
  background-color: $blue-5;
  // background-image: url("im3.jpg");
  .header-logo {
    height: 70px;
    margin-left: 20px;
  }

  .header-label {
    color: $white;
    font-size: 18px;
  }

  .email-header {
    font-size: 20px;
    line-height: 18px;
    margin-right: 5px;
    color: $white;
  }
}

.navbar-menu {
  min-height: 50px;
  width: 100%;
  background-color: $blue-5;
  color: $white;

  li>a:hover {
    background-color: $white;
    color: $blue-5;
  }
}

.navbar-exit {
  color: $white;
  height: 20px;
}

.navbar-link {
  color: $white;
  font-size: 18px;
  padding: 5px 10px;
  margin: 10px 0;
  border-left: solid 1px $white;
  border-right: solid 1px $white;
}

.header-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $white;
  font-size: 48px;
}
