// Place all the styles related to the Prizes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.box {
	margin: 50px 5px 50px 5px;
	height: 500px;
	.box-header {
		padding-top: 25px;
		height: 130px;
		margin: 0 10px 0 10px;
		border-bottom: solid 2px $white;
		label {
			font-size: 32px;
			&.white-label {
				margin-top: 5px;
				font-size: 16px;
			}
			font-weight: 100;
		}
		label.header {
			color: $blue-5;
			font-size: 30px;
			font-weight: 300;
		}
	}
}

.black-box {
	background-color: $black;
}

.white-box {
	background-color: $white;
}

.blue-box {
	background-color: $blue-5;
}

.title-text-bottles {
	label {
		font-size: 30px;
		color: $white;
	}
}

.value-subtitle label {
	color: $white;
}

.trade-them-for-subtitle {
	font-size: 50px;
	font-weight: 300;
	color: $white;
	margin-top: 40px;
}

.beer-logo-2 {
	margin-right: -15px;
	margin-top: -45px;
}

.circle {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border: solid 2px $light-green;
	&.side {
		margin-top: 48px !important;
	}
	&.center-circle {
		width: 150px;
		height: 150px;		
		img {
			margin-top: 16%;
			margin-left: 16%;
			height: 100px;			
		}
	}
	img {
		margin-top: 16%;
		margin-left: 16%;
		height: 65px;
	}
}

.blue-11-label {
	color: $light-green !important;
}

.pad-150 {
	padding-top: 150px;
}
.top-50 {
	margin-top: 50px;
}

.modal-content {
	padding: 20px;
}

.pay-link {
	padding: 10px;
	margin: 15px 10px;
	img {
		margin-top: 15px;
		width: 145px;		
	}
}

.my-modal {
	width: 1000px !important;
}

.bordera {
	float: left;
	margin: 10px 10px;
	// border: solid 1px $blue-5;
	width: 30%;
	height: 200px;
	.frape img{
		width: 62%;
	}
	img {
		height: 75%;
	}
}